
.profilePicture  {
  height: 4em;
  width: 4em;
  background-color: lightcyan;
  border: 2px solid #010C1F;
  border-radius: 100px;
}

.friendAvatar {
  height: 4em;
  width: 4em;
  background-color: snow;
  border: 2px solid #010C1F;
  border-radius: 100px;
}

.friendContainer, .betContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.wager{
  background-color: lightcyan;
  border: 2px solid #010C1F;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  height: 10em;
  width: 10em;
  text-align: center;
  cursor: pointer;
}
.wager:hover {
  background-color: darkcyan;
  cursor: pointer;
}

.friend{
  background-color: lightcyan;
  border: 2px solid #010C1F;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  height: 10em;
  width: 10em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wagerIcon{
  padding-right: 10px;
}

form{
  display: flex;
  flex-direction: column;
}
label, input{
  align-self: left;
  text-align: left;
  margin: 0;
}

/* .betName{
  color: chartreuse;
  border: 2px solid #010C1F;
  border-radius: 10px;
  margin: 2px;
} */