
.logo  {
  background-color: lightcyan;
  border: 2px solid #010C1F;
  border-radius: 200px;
  width: 7em;
}

.profile{
  position: relative;
  margin-top: 80px;
}


@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}