#wagerTitle{
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0px;
}
.wagerIcon{
  padding-right: 10px;
  height: 1em;
  width: 1em;
  
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.wager{
  display: flex;
  background-color: lightcyan;
  border: 2px solid #010C1F;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  height: 10em;
  width: 10em;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.selected-bet:hover {
  cursor: pointer;
}
.selectable{
  cursor: pointer;
}
.selectable:hover {
  background-color: darkcyan;
  cursor: pointer;
}
.winStatus{
  text-align: center;
}
.approveDenyContainer{
  display: flex;
  /* text-align: center;
  align-items: center; */
  justify-content: space-evenly;
}
.winLoseContainer{
  width: 100%;
  text-align: center;
}
.approveDenyButtons{
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  border-radius: 20px;
}
.approveDenyButtons:hover{
  background-color: darkcyan;;
  cursor: pointer;
}
.winLoseButtons{
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
}
.winLoseButtons:hover{
  background-color: darkcyan;;
  cursor: pointer;
}
.betContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.selected-bet{
  text-align: left;
  display: absolute;
  z-index: 1;
  position: sticky;
  top: 1.8em;
  margin: 10px;
  padding: 0px;
  border: 2px black solid;
  border-radius: 10px;
  /* flex: 1; */
  background-color: lightcyan;
  color: black;
  /* width: 100%; */
  /* justify-content: stretch; */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}
.wager li{
  padding: 4px;
}

.loss{
  border: 2px solid red;
  background-color: rgb(250, 183, 183);
}
.win {
  border: 2px solid green;
  background-color: rgb(205, 255, 205);
}