#wagerTitle{
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0px;
}
.wagerIcon{
  padding-right: 10px;
  height: 1em;
  width: 1em;
  
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.wager{
  display: flex;
  background-color: lightcyan;
  border: 2px solid #010C1F;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  height: 10em;
  width: 10em;
  text-align: left;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.wager:hover, .selected-bet:hover {
  background-color: darkcyan;
  cursor: pointer;
}
.approveDenyButtons{
  text-align: center;
}
.betContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.selected-bet{
  text-align: left;
  display: absolute;
  z-index: 1;
  position: sticky;
  top: 1.8em;
  margin: 2px;
  padding: 2px;
  border: 2px black solid;
  border-radius: 10px;
  flex: 1;
  background-color: lightcyan;
  color: black;
  width: 100%;
  justify-content: stretch;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}
.wager li{
  padding: 4px;
}