body {
  margin: 0px;
  padding: 0px;
  background-color: snow;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #010c1f;
  width: 100%;
}
label{ 
  display: block;
  text-align: left;
  padding-top: 15px;
}
input, select, option{
  display: block;
  text-align: left;
  width: 200px;

}

.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
