.App {
  text-align: center;
}

body {
  margin: 10px;
  background-color: snow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #010c1f;
  width: 100%;
}

div {
  
  margin: 0px;
}
.App-link {
  color: #61dafb;
}