.friendContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.friend{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: lightcyan;
  border: 2px solid #010C1F;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  /* height: 10em;
  width: 10em; */
}
.friendAvatar {
  height: 4em;
  width: 4em;
  background-color: snow;
  border: 2px solid #010C1F;
  border-radius: 100px;
}
form{
  display: flex;
  flex-direction: column;
  justify-self: center;
}
label, input{
  align-self: left;
  text-align: left;
  margin: 0;
}