.won{
  background-color: rgba(0, 255, 0, 0.219);
  display: flex;
  border: 2px solid green;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  height: 10em;
  width: 10em;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.won:hover{
    background-color: rgba(84, 161, 84, 0.61);
    cursor: pointer;
}
.lost{
  background-color: rgba(255, 0, 0, 0.219);
  display: flex;
  border: 2px solid red;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  height: 10em;
  width: 10em;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.lost:hover{
  background-color: rgba(161, 84, 84, 0.61);
  cursor: pointer;
}