.noValues{
  text-align: left;
  margin-left: 35px;
  font-size: 16px;
}
.newBetForm{
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  border: 2px solid black;
  padding: 5px
}
.newBet{ 
  position: relative;
  margin-top: 80px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.newBetButton{
  margin-top: 20px;
}