.newBetForm{
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
}

label{ 
  display: block;
  text-align: left;  
}
input, select, option{

display: block;
text-align: left;

width: 200px;
}

.noValues{
text-align: left;
margin-left: 35px;
font-size: 16px;
}